
.vs/MicroRabbit/v16/Server/sqlite3/db.lock

.vs/MicroRabbit/v16/Server/sqlite3/

.vs/

MicroRabbit.Infra.IoC/obj/Debug/

MicroRabbit.Infra.IoC/bin/

MicroRabbit.infra.Bus/obj/

MicroRabbit.infra.Bus/bin/

MicroRabbit.Domain.Core/bin/

MicroRabbit.Domain.Core/obj/

MicroRabbit.Banking.Domain/bin/

MicroRabbit.Banking.Domain/obj/

MicroRabbit.Banking.Data/bin/

MicroRabbit.Banking.Data/obj/

MicroRabbit.Banking.Application/bin/

MicroRabbit.Banking.Application/obj/

MicroRabbit.Banking.API/obj/

MicroRabbit.Banking.API/bin/Debug/

MicroRabbit.Infra.IoC/obj/

MicroRabbit.Transfer.Domain/bin/Debug/

MicroRabbit.Transfer.Domain/obj/

MicroRabbit.Transfer.Data/bin/

MicroRabbit.Transfer.Data/obj/

MicroRabbit.Transfer.Application/bin/

MicroRabbit.Transfer.Application/obj/

MicroRabbit.Transfer.API/bin/

MicroRabbit.Transfer.API/obj/
